@font-face {
  font-family: 'Alphamals';
  src: url('/fonts/alphamals.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alphashapes';
  src: url('/fonts/alphashapes.ttf');
  font-weight: normal;
  font-style: normal;
}


.Alphabet {
  display: none;
}

.Alphabet-letters {
  display: flex;
}

.Alphabet-letter {
  color: #F2A3C4;
  font-size: 7rem;
}

.Alphabet-letter--animal {
  font-family: 'Alphamals';
}

.Alphabet-nav {
  display: none;
}
