.Navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Navbar-item {
  width: 100%;
  text-decoration: none;
  color: white;
  background: gray;
  text-align: center;
}

.Navbar-item--even {
  background: lightgray;
}

.Navbar-item--selected {
  font-weight: 700;
  background: #F2A3C4;
}
