.Navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Navbar-item {
  width: 100%;
  text-decoration: none;
  color: white;
  background: lightgray;
  text-align: center;
  padding: 7px 0;
  border-bottom: 1px solid white;
}

.Navbar-item.is-selected {
  font-weight: 700;
  background-color: #F2A3C4;
}
