* {
  box-sizing:border-box;
}

.Site {
  font-family: 'Quicksand', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Site-header {

}

.Site-header-title {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 4.5rem;
  margin-bottom: 1.5rem;
}

.Site-header-social {
  display: none;
}

.Site-navbar {
  width: 100%;
}

.Site-content {

}

.Site-footer {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
