* {
  box-sizing:border-box;
}

.Site {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Site-header {

}

.Site-header-title {
  font-size: 2.5rem;
  font-weight: 400;
}

.Site-header-social {
  display: none;
}

.Site-navbar {
  width: 100%;

}

.Site-content {
  display: none;
}
